body {
    background-color: #0c0c0c; /* Lighter shade of black */
    color: white;
}

body.with-bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #111; /* Darker shade of black */
}

.navbar-brand img {
    height: 60px;
}

.navbar-nav .nav-link {
    color: white; /* Setting text color to white */
    font-size: 24px; /* Increasing font size */
    font-weight: bold; /* Making font weight bold for dramatic effect */
    text-transform: uppercase; /* Making text uppercase for emphasis */
    letter-spacing: 2px; /* Adding spacing between letters */
    word-spacing: 10px; /* Adding spacing between words */
}

.yellow-outline {
    border-color: #ffce34;
}

.yellow-letter {
    color: #ffce34;
}

.yellow-word {
    color: #ffce34;
    font-weight: bold; /* Making font weight bold for dramatic effect */
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 20px; /* Adjust the size as needed */
}

/* General styles for .card */
.card {
    background-color: rgb(255, 255, 255); /* Set the background color of paragraphs inside card body to yellow */
    border-color: #ffce34;
    border-width: 5px; /* Set border width to make it thicker */
    height: auto; /* Sets a static size in px for the height if the card bodies */
}

/* Styles specifically for .card in /about */
.about .card {
    /* Add your specific styles here */
    background-color: #ffffff; /* Example different background color */
    border-color: #ffce34; /* Example different border color */
    border-width: 5px;
    height: 775px; /* Example different height */
}

.card-text {
    font-size: 18px; /* Adjust font size as desired */
}

.btn-secondary {
    background-color: #ffce34; /* Set the background color to yellow */
    border-color: #ffce34; /* Set the border color to yellow */
    color: black; /* Set the text color to black for better visibility */
}

.btn-secondary:hover {
    background-color: #d3a611; /* Change the background color on hover to a lighter shade of yellow */
    border-color: #d3a611; /* Change the border color on hover to a lighter shade of yellow */
    color: black; /* Set the text color to black for better visibility */
}

.highlight {
    background-color: yellow;
}
  
