{% extends 'base.html' %}

{% block content %}
<!-- Content Section -->
<section class="about">
    <div class="container">
        <div class="col-12">
            <h1 class="text-center mt-5 mb-3">About GameVista</h1>
            <p class="text-center p-3">
                GameVista serves to provide anyone and everyone with all the details related to their favorite games and consoles.
                Our mission is to provide a degree of transparency for gamers hoping to make informed decisions on the games they wish to play.
                We provide the essential stats surrounding different video games, the companies that develop/publish them, as well as the platforms they run on.
            </p>
            <h2 class="text-center mt-4"> Our Team </h2>
            <div class="container mt-5">
                <div class="row">
                    <!-- Tim -->
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <img src="../static/images/TLin.jpg" class="mx-auto card-img-top mt-5" alt="Team Member 1" style="width: 350px; height: 350px;">
                            <div class="card-body">
                                <h5 class="text-center card-title">Tim Lin</h5>
                                <p class="text-center card-text">Role: Backend</p>
                                <p class="text-center commits">Commits: 51</p>
                                <p class="text-center issues">Issues: 9</p>
                                <p class="text-center unittests">Unit Tests: 23</p>
                                <p class="text-center description">Hello, I am an arts and entertainment technologies major at The Univeristy of Texas at Austin. 
                                    I have an interest in anything software development related, whether it be for games, websites, etc. 
                                    Therefore, once I graduate this semester, I hope to be a software developer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Fei -->
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <img src="../static/images/fei.jpg" class="mx-auto card-img-top mt-5" alt="Team Member 2" style="width: 300px; height: 400px;">
                            <div class="card-body">
                                <h5 class="text-center card-title">Fei Liu</h5>
                                <p class="text-center card-text">Role: Frontend</p>
                                <p class="text-center commits">Commits: 19</p>
                                <p class="text-center issues">Issues: 10</p>
                                <p class="text-center unittests">Unit Tests: 8</p>
                                <p class="text-center description">Hello! I am a mechanical engineering senior here at The University of Texas at Austin. 
                                    I will be graduating this semester with this CS project being my last mark in my academic career. I will be working at Infineon in Austin
                                    and will pursue a MBA in the near future. Hook 'em!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Michael -->
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <img src="../static/images/mm.jpg" class="mx-auto card-img-top mt-5" alt="Team Member 3" style="width: 350px; height: 350px;">
                            <div class="card-body">
                                <h5 class="text-center card-title">Michael Meng</h5>
                                <p class="text-center card-text">Role: Frontend</p>
                                <p class="text-center commits">Commits: 7</p>
                                <p class="text-center issues">Issues: 9</p>
                                <p class="text-center unittests">Unit Tests: 8</p>
                                <p class="text-center description">Hi! I'm Michael and I'm a fourth year Chemical Engineering student at The University of Texas at Austin. This will be
                                    my final semester at UT and I hope to make the most of it. After graduation, I will be pursuing my Ph.D. in either California or the NE. I am blessed and 
                                    honored to be working alongside some very bright and awesome teammates for this project!
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Santi -->
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <img src="../static/images/Santiago.jpg" class="mx-auto card-img-top mt-5" alt="Team Member 4" style="width: 300px; height: 200px;">
                            <div class="card-body">
                                <h5 class="text-center card-title">Santiago Leyva</h5>
                                <p class="text-center card-text">Role: Backend</p>
                                <p class="text-center commits">Commits: 6</p>
                                <p class="text-center issues">Issues: 10</p>
                                <p class="text-center unittests">Unit Tests: 7</p>
                                <p class="text-center description">Hello! I am a UT graduate and I have obtained a bachelor's degree in Civil Engineering and a minor in
                                    Computer Science. I am continuing phase II of software engineering, and I am currently working as a software engineer at R3X Group, Inc.
                                    I have worked on frontend and backend platforms using C#, python, java, swift, and objective-c. I am excited about the opportunity to learn Javascript,
                                    new python packages, and frontend design with my teammates.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stats and Links Section -->
            <div class="text-center mt-5">
                <h3>Stats</h3>
                <ul class="list-unstyled">
                    <li>Total no. of commits: <span class="yellow-letter">83</span></li>
                    <li>Total no. of issues: <span class="yellow-letter">38</span></li>
                    <li>Total no. of unit tests: <span class="yellow-letter">46</span></li>
                </ul>
                <h3>Gitlab</h3>
                <ul class="list-unstyled">
                    <li><a href="https://gitlab.com/VeyGudTek/cs331e-idb" target="_blank" class="yellow-letter">GitLab Repo</a></li>
                    <li><a href="https://gitlab.com/VeyGudTek/cs331e-idb/-/issues" target="_blank" class="yellow-letter">GitLab Issue Tracker</a></li>
                    <li><a href="https://gitlab.com/VeyGudTek/cs331e-idb/-/wikis/GameVista-Technical-Report-Phase-III" target="_blank" class="yellow-letter">GitLab Wiki</a></li>
                </ul>
                <h3>DATA SOURCE</h3>
                <ul class="list-unstyled">
                    <li><a href="https://www.igdb.com/api" target="_blank" class="yellow-letter">IGDB</a></li>
                    <li><a href="https://api-docs.igdb.com/#getting-started" target="_blank" class="yellow-letter">Scrape Method</a></li>
                </ul>
            </div>


            <!-- Tools Used Section -->
            <div class="text-center mt-5">
                <h3>Development Tools and Frameworks</h3>
                <ul class="list-unstyled">
                    <li><a href="https://gitlab.com/" target="_blank" class="yellow-letter">GitLab</a> - Version control and collaboration platform</li>
                    <li><a href="https://flask.palletsprojects.com/" target="_blank" class="yellow-letter">Flask</a> - Micro web framework for Python</li>
                    <li><a href="https://www.postman.com/" target="_blank" class="yellow-letter">Postman</a> - API development and testing platform</li>
                    <li><a href="https://jinja.palletsprojects.com/" target="_blank" class="yellow-letter">Jinja</a> - Templating engine for Python</li>
                    <li><a href="https://getbootstrap.com/" target="_blank" class="yellow-letter">Bootstrap</a> - Front-end framework for responsive web design</li>
                    <li><a href="https://code.visualstudio.com/" target="_blank" class="yellow-letter">Visual Studio Code (VS Code)</a> - Code editor with built-in Git integration</li>
                    <li><a href="https://cloud.google.com/" target="_blank" class="yellow-letter">Google Cloud Platform (GCP)</a> - Cloud computing services and infrastructure</li>
                </ul>
            </div>
            <!-- Links to Postman API collection -->
            <div class="text-center mt-5">
                <h3>Postman API Collection</h3>
                <ul class="list-unstyled">
                    <li><a href="https://winter-spaceship-140862.postman.co/workspace/GameVista~59ffd541-e312-435c-94ad-e1c4db96a18c/collection/33692259-83d76631-3c0c-48f3-b284-a5c3e597c90f?action=share&creator=33692259" target="_blank" class="yellow-letter">Postman: Games</a></li>
                    <li><a href="https://winter-spaceship-140862.postman.co/workspace/GameVista~59ffd541-e312-435c-94ad-e1c4db96a18c/collection/33692253-9611fa19-0717-4ceb-a02d-75160ad26110?action=share&creator=33692259" target="_blank" class="yellow-letter">Postman: Companies</a></li>
                    <li><a href="https://winter-spaceship-140862.postman.co/workspace/GameVista~59ffd541-e312-435c-94ad-e1c4db96a18c/collection/33692253-be439e54-ed90-47ee-b5ab-54a1ebb935d1?action=share&creator=33692259" target="_blank" class="yellow-letter">Postman: Platforms</a></li>
                    <li><a href="https://documenter.getpostman.com/view/33692259/2sA3Bg8uAF" target="_blank" class="yellow-letter">Postman: Games Documentation</a></li>
                    <li><a href="https://documenter.getpostman.com/view/33692253/2sA3Bg8u5z" target="_blank" class="yellow-letter">Postman: Companies Documentation</a></li>
                    <li><a href="https://documenter.getpostman.com/view/33692253/2sA3Bg8u5y" target="_blank" class="yellow-letter">Postman: Platforms Documentation</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>

{% endblock %}