<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameVista</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}

    {% block content %}
    {% endblock %}

    <script>
        // Array of background image filenames
        var bgImages = ['bg1.jpg', 'bg2.png', 'bg3.png', 'bg4.jpg', 'bg5.png', 'bg6.jpg', 'bg7.png', 'bg8.png', 'bg9.jpg', 'bg10.jpg', 'bg11.jpeg', 'bg12.jpeg', 'bg13.png', 'bg14.jpeg', 'bg15.png', 'bg16.jpeg', 'bg17.jpeg'];
       
        // Get the current page URL
        var currentPageUrl = window.location.pathname;

        // make sure bg only display on home page
        if (['/', '/home'].includes(currentPageUrl)) {
            // Randomly select an image from the array
            var randomBgImage = bgImages[Math.floor(Math.random() * bgImages.length)];

            // Apply the selected background image to the body
            document.body.classList.add('with-bg');
            document.body.style.backgroundImage = 'url("/static/images/' + randomBgImage + '")';
        }
    </script>
</body>
</html>



