{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card mb-4">
        <!-- Company Information -->
        <img class="card-img-top mx-auto d-block mt-3" src="{{ company.logo }}" alt="Company Logo" style="max-width: 200px; max-height: auto;">
        <div class="card-body">
            <h5 class="card-title text-center yellow-word">{{ company.name }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Start Date (Unix): <span class="yellow-word">{{ company.start_date }}</span></li>
                <li class="list-group-item">Country (Code): <span class="yellow-word">{{ company.country }}</span></li>
                <li class="list-group-item">Developed Games:
                    <ul>
                        {% for game in company.developed %}
                            <li><a href="{{ url_for('game_page', game_id=game.id) }}" class="yellow-word">{{ game.name }}</a> <span class="yellow-word">{{ game.description }}</span></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="list-group-item">Published Games:
                    <ul>
                        {% for game in company.published %}
                            <li><a href="{{ url_for('game_page', game_id=game.id) }}" class="yellow-word">{{ game.name }}</a> <span class="yellow-word">{{ game.description }}</span></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="list-group-item">Description: {{ company.description }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

