{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">COMPANIE<span class="yellow-letter">S</span></h1>

    <!-- Search Bar -->
    <form method="GET" action="{{ url_for('companies_list') }}" class="input-group mb-3">
        {% if search != None%}
            <input class="form-control yellow-outline" type="text" name="search" size=65% placeholder="Search companies" value="{{search}}">
        {% else %}
            <input class="form-control yellow-outline" type="text" name="search" size=65% placeholder="Search companies">
        {% endif %}
        <input class="btn btn-warning text-black" type="Submit" value="Search" >
    </form>

    <!-- Sorting Buttons -->
    <div class="text-center">
        <a href="{{ url_for('companies_list', page = page, sort = 'name', order = order, search = search)}}" class="btn btn-secondary mb-4">Sort by Name</a>
        <a href="{{ url_for('companies_list', page = page, sort = 'country', order = order, search = search)}}" class="btn btn-secondary mb-4">Sort by Country</a>
        <a href="{{ url_for('companies_list', page = page, sort = 'date', order = order, search = search)}}" class="btn btn-secondary mb-4">Sort by Start Date</a>
        <a href="{{ url_for('companies_list', page = page, sort = sort, order = 'asc', search = search)}}" class="btn btn-secondary mb-4">Order by Ascending</a>
        <a href="{{ url_for('companies_list', page = page, sort = sort, order = 'desc', search = search)}}" class="btn btn-secondary mb-4">Order by Descending</a>
    </div>

    <!-- Companies List -->
    <div class="row justify-content-center mt-4 company-container">
        {% for company in companies_list %}
        <div class="col-md-3 mb-4">
            <div class="card mx-1 shadow-sm d-flex flex-column h-100">
                {% if company.logo != 'n/a' %}
                    <img src="{{ company.logo }}" class="card-img-top p-3" alt="{{ company.name }}">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center" id="company-name-{{ loop.index }}">
                        {{ company.name }}
                    </h5>
                    <!-- Check if description exists and is not None before slicing -->
                    {% if company.description %}
                        {% set sliced_description = company.description[:400] %}
                        {% if company.description|length > 100 %}
                            {% set sliced_description = sliced_description ~ '...' %}
                        {% endif %}
                        <p class="card-text text-center flex-grow-1">{{ sliced_description }}</p>
                    {% endif %}
                    <div class="d-flex flex-column align-items-center mt-auto">
                        <div class="btn-group">
                            <a href="{{ url_for('company_page', company_id=company.id) }}" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="text-center">
        {% if prev_page %}
            <a href="{{ url_for('companies_list', page=prev_page, sort = sort, order = order, search = search) }}" class="btn btn-secondary mr-2 mb-2">Previous</a>
        {% endif %}
        <span class="page-number mb-4">{{ page }}</span>
        {% if page < last_page %}
            <a href="{{ url_for('companies_list', page=next_page, sort = sort, order = order, search = search) }}" class="btn btn-secondary mb-2">Next</a>
        {% endif %}
    </div>
</div>

<!-- Highlight Search Result --> 
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const search = "{{ search }}";
        const elements = document.querySelectorAll('[id^="company-name-"]');
        
        elements.forEach(element => {
            const innerHTML = element.innerHTML;
            const highlightedHTML = innerHTML.replace(new RegExp(search, 'gi'), '<span class="highlight">$&</span>');
            element.innerHTML = highlightedHTML;
        });
    });
</script>

{% endblock %}
