{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card mb-4">
        <!-- Game Information -->
        <img class="card-img-top mx-auto d-block mt-3" src="{{ game.cover }}" alt="{{ game.name }}" style="max-width: 300px; max-height: auto;">
        <div class="card-body">
            <h5 class="card-title text-center yellow-word">{{ game.name }}</h5>
            <ul class="list-group list-group-flush">
                {% if game.rating != None %}
                    <li class="list-group-item">Rating: <span class="yellow-word">{{ game.rating|round(1) }}</span></li>
                {% else %}
                    <li class="list-group-item">Rating: <span class="yellow-word"> N/A </span></li>
                {% endif %}
                <li class="list-group-item">Developers:
                    <ul>
                        {% for company in game.developers %}
                            <li><a href="{{ url_for('company_page', company_id=company.id) }}" class="yellow-word">{{ company.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="list-group-item">Publishers:
                    <ul>
                        {% for company in game.publishers %}
                            <li><a href="{{ url_for('company_page', company_id=company.id) }}" class="yellow-word">{{ company.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="list-group-item">Platforms:
                    <ul>
                        {% for platform in game.platforms %}
                            <li><a href="{{ url_for('platform_page', platform_id=platform.id) }}" class="yellow-word">{{ platform.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
