{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">GAME<span class="yellow-letter">S</span></h1>

    <!-- Search Bar -->
    <form method="GET" action="{{ url_for('games_list') }}" class="input-group mb-3">
        {% if search != None%}
            <input class="form-control yellow-outline" type="text" name="search" size=65% placeholder="Search games" value="{{search}}">
        {% else %}
            <input class="form-control yellow-outline" type="text" name="search" size=65% placeholder="Search games">
        {% endif %}
        <input class="btn btn-warning text-black" type="Submit" value="Search" >
    </form>

    <!-- Sorting Buttons -->
    <div class="text-center">
        <a href="{{ url_for('games_list', page = page, sort = 'name', order = order, search = search)}}" class="btn btn-secondary mb-4">Sort by Name</a>
        <a href="{{ url_for('games_list', page = page, sort = 'rating', order = order, search = search)}}" class="btn btn-secondary mb-4">Sort by Rating</a>
        <a href="{{ url_for('games_list', page = page, sort = sort, order = 'asc', search = search)}}" class="btn btn-secondary mb-4">Order by Ascending</a>
        <a href="{{ url_for('games_list', page = page, sort = sort, order = 'desc', search = search)}}" class="btn btn-secondary mb-4">Order by Descending</a>
    </div>

    <!-- Games List -->
    <div class="row justify-content-center mt-4">
        {% for game in games_list %}
        <div class="col-md-3 mb-4"> <!-- Added mb-4 class for margin-bottom -->
            <div class="card h-100 mx-1 shadow-sm"> <!-- Added h-100 class for equal height -->
                {% if game.cover %}
                    <img src="{{ game.cover }}" class="card-img-top p-3" alt="{{ game.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-center" id="game-name-{{ loop.index }}">
                        {{ game.name }}
                    </h5>
                    {% if game.rating != None %}
                        <p class="card-text text-center">Rating: {{ game.rating|round(1) }}</p>
                    {% else %}
                        <p class="card-text text-center">Rating: N/A</p>
                    {% endif %}
                    <div class="d-flex flex-column align-items-center">
                        <div class="btn-group">
                            <a href="{{ url_for('game_page', game_id=game.id) }}" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="text-center">
        {% if page > 1 %}
            <a href="{{ url_for('games_list', page = prev_page, sort = sort, order = order, search = search)}}" class="btn btn-secondary mr-2 mb-4">Previous</a>
        {% endif %}
        <span class="page-number">{{ page }}</span>
        {% if page < last_page %}
            <a href="{{ url_for('games_list', page = next_page, sort = sort, order = order, search = search)}}" class="btn btn-secondary mb-4">Next</a>
        {% endif %}
    </div>
</div>

<!-- Highlight Search Result -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const search = "{{ search }}";
        const elements = document.querySelectorAll('[id^="game-name-"]');
        
        elements.forEach(element => {
            const innerHTML = element.innerHTML;
            const highlightedHTML = innerHTML.replace(new RegExp(search, 'gi'), '<span class="highlight">$&</span>');
            element.innerHTML = highlightedHTML;
        });
    });
</script>

{% endblock %}
