{% extends 'base.html' %}

{% block content %}
  <!-- Main Content -->
  <div class="container mt-5">

    <!-- Large motto.png -->
    <img src="{{ url_for('static', filename='images/motto.png') }}" class="img-fluid mb-3" alt="Our Motto" style="margin-top: 150px;"> <!-- Adjust margin-top here! -->

    <!-- Search Bar -->
    <form method="GET" action="{{ url_for('games_list') }}" class="input-group mb-3">
      <input class="form-control yellow-outline" type="text" name="search" size=65% placeholder="Search games, companies, or platforms">
      <input class="btn btn-warning text-black" type="Submit" value="Search Games" formaction="{{ url_for('games_list') }}">
      <input class="btn btn-warning text-black" type="Submit" value="Search Companies" formaction="{{ url_for('companies_list') }}">
      <input class="btn btn-warning text-black" type="Submit" value="Search Platforms" formaction="{{ url_for('platforms_list') }}">
    </form>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{% endblock %}
