<!-- Top Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-black">
  <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename='images/GV.png') }}" alt="GameVista">
      </a>

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('about')}}">About |</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('games_list')}}">Game<span class="yellow-letter">s</span> |</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('companies_list')}}">Companie<span class="yellow-letter">s</span> |</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('platforms_list')}}">Platform<span class="yellow-letter">s</span></a>
              </li>
          </ul>
      </div>
  </div>
</nav>
