{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">PLATFORM<span class="yellow-letter">s</span></h1>

    <!-- Search Bar -->
    <form method="GET" action="{{ url_for('platforms_list') }}" class="input-group mb-3">
        {% if search != None%}
            <input class="form-control yellow-outline" type="text" name="search" size=65% placeholder="Search platforms" value="{{search}}">
        {% else %}
            <input class="form-control yellow-outline" type="text" name="search" size=65% placeholder="Search platforms">
        {% endif %}
        <input class="btn btn-warning text-black" type="Submit" value="Search" >
    </form>

    <!-- Sorting buttons -->
    <div class="text-center">
        <a href="{{ url_for('platforms_list', page = page, sort = 'name', order = order, search = search)}}" class="btn btn-secondary mb-4">Sort by Name</a>
        <a href="{{ url_for('platforms_list', page = page, sort = 'category', order = order, search = search)}}" class="btn btn-secondary mb-4">Sort by Category</a>
        <a href="{{ url_for('platforms_list', page = page, sort = sort, order = 'asc', search = search)}}" class="btn btn-secondary mb-4">Order by Ascending</a>
        <a href="{{ url_for('platforms_list', page = page, sort = sort, order = 'desc', search = search)}}" class="btn btn-secondary mb-4">Order by Descending</a>
    </div>

    <!-- Platforms List -->
    <div class="row justify-content-center mt-4">
        {% for platform in platforms_list %}
        <div class="col-md-3 mb-4"> <!-- Added mb-4 class for margin-bottom -->
            <div class="card h-100 mx-1 shadow-sm"> <!-- Added h-100 class for equal height -->
                {% if platform.logo != 'n/a' %}
                    <img src="{{ platform.logo }}" class="card-img-top p-3" alt="{{ platform.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-center" id="platform-name-{{ loop.index }}">
                        {{ platform.name }}
                    </h5>
                    <p class="card-text text-center">Category: {{ platform.category }}</p>
                    <div class="d-flex flex-column align-items-center">
                        <div class="btn-group">
                            <a href="{{ url_for('platform_page', platform_id=platform.id) }}" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="text-center">
        {% if prev_page %}
            <a href="{{ url_for('platforms_list', page=prev_page, sort = sort, order = order, search = search) }}" class="btn btn-secondary mr-2 mb-2">Previous</a>
        {% endif %}
        <span class="page-number">{{ page }}</span>
        {% if page < last_page %}
            <a href="{{ url_for('platforms_list', page=next_page, sort = sort, order = order, search = search) }}" class="btn btn-secondary mb-2">Next</a>
        {% endif %}
    </div>
</div>

<!-- Highlight search result -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const search = "{{ search }}";
        const elements = document.querySelectorAll('[id^="platform-name-"]');
        
        elements.forEach(element => {
            const innerHTML = element.innerHTML;
            const highlightedHTML = innerHTML.replace(new RegExp(search, 'gi'), '<span class="highlight">$&</span>');
            element.innerHTML = highlightedHTML;
        });
    });
</script>

{% endblock %}
