{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card mb-4">
        <!-- Platform Information -->
        <img class="card-img-top mx-auto d-block my-4" src="{{ platform.logo }}" style="max-width: 400px; height: auto;" alt="{{ platform.name }}">
        <div class="card-body">
            <h5 class="card-title text-center yellow-word">{{ platform.name }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category: <span class="yellow-word">{{ platform.category }}</span></li>
                <li class="list-group-item">Website: <a href="{{ platform.website }}" class="yellow-word">{{ platform.website }}</a></li>
                <li class="list-group-item">Games:
                    <ul>
                        {% for game in platform.games %}
                            <li><a href="{{ url_for('game_page', game_id=game.id) }}" class="yellow-word">{{ game.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
